body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: rgb(39, 16, 248);
}

.orange-color {
    color: orange;
}

h2 {
    font-size: 40px;
    color: rgb(255, 0, 106);
}

img {
    width: 600px;
    height: 400px;
}

.flexible-container {
    display: flex;
    margin-bottom: 200px;

}

.half-width {
    width: 50%;
    padding-left: 2%;

}

.half-width img {
    width: 80%;
    padding: 2%;


}

.cleck-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}

.drem-big {
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position: left;
}

.divhalf-width {
    width: 50%;
}

.my-item {
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px yellow;
    border-radius: 10px;

}

.experience-area {

    margin-left: 5%;
    margin-right: 5%;
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    border-top: 7px solid coral;
    border-right: 7px solid blue;
    border-left: 7px solid rgb(7, 7, 7);


}

#khan-miya {
    border-left: 7px solid tomato;
}

footer p {
    text-align: center;
}