body {
    font-family: 'Arimo', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: orangered;
}

.orange-color {
    color: orange;
}

h2 {
    font-size: 35px;
    color: blue;
}

img {
    width: 600px;
    height: 400px;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;

}

.cleck-buttom {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}